<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>Player 2: Choose</h1>
    <form action="/" method="post">
      <button type="submit" name="player2" value="Rock">Rock</button>
    </form>
    <form action="/" method="post">
      <button type="submit" name="player2" value="Scissors">Scissors</button>
    </form>
    <form action="/" method="post">
      <button type="submit" name="player2" value="Paper">Paper</button>
    </form>
  </body>
</html>
